@media (max-width: 940px) {
    .info-value {
        font-size: 23px;
    }
}

@media (max-width: 810px) {
    .info-value {
        font-size: 20px;
    }
}


@media (max-width: 720px) {

    .info {
        padding: 20px 2.5%;
    }

    hr {
        margin: 10px;
    }
}

@media (max-width: 620px) {

    header {
        width: 90%;
        padding: 5%;
        height: 35%;
    }

    h1 {
        font-size: 27px;
    }

    .input-field {
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 15px;
    }

    .info {
        flex-direction: column;
        text-align: center;
        width: 80%;
        padding: 5%;
    }

    .info-type {
        font-size: 11.5px;
    }

    .info-value {
        font-size: 18px;
    }
}